@import "normalize";
@import "pages/welcome";
@import "pages/battle";

body {
  background : #ffffff;
}

.text-center {
  text-align : center;
}

.wrapper {
  min-width : 990px;
  max-width : 1080px;
  position  : relative;
  margin    : 0 auto;
}

.hidden {
  display : none;
}

.active {
  display : block !important;
}
