////////////////////////////////
// description
////////////////////////////////
.description {
  & > div {
    width      : 49%;
    display    : inline-block;
    text-align : center;
  }
  .description-user {
  }
  .description-enemy {
  }
}

////////////////////////////////
// battlefield
////////////////////////////////
.battlefield-gap {
  display    : inline-block;
  position   : relative;
  margin     : 40px 0;
  width      : 49%;
  text-align : center;
}

.battlefield-table {
  margin          : 0;
  border-collapse : collapse;
  cursor          : default;
  display         : inline-block;
  position        : relative;
}

.battlefield-row {

  .battlefield-cell {
    border  : 2px solid #ababb4;
    padding : 0;
    .battlefield-cell-content {
      position   : relative;
      height     : 2em;
      width      : 2em;
      box-sizing : border-box;
    }
    // карма корабля
    &.deck {
      .battlefield-cell-content {
        border : 2px solid #000000;
      }
      // попадение в карму
      &.hit {
        .battlefield-cell-content {
          border           : 2px solid #000000;
          background-color : #ff2a19;
        }
      }
    }
    // попадение в пусту ячейку
    &.hit:not(.deck) {
      .battlefield-cell-content {
        background-color : #6193ff;
        opacity          : 0.7;
      }
    }
  }
}

.marker {
  position  : absolute;
  font-size : 11px;
  z-index   : -1;
  &.marker__row {
    left       : -3em;
    width      : 2em;
    text-align : right;
    top        : 1em;
    height     : 1em;
  }
  &.marker__col {
    top        : -2em;
    left       : 0;
    width      : 100%;
    text-align : center;
  }
}
