.form-centered {
  display : table;
  height  : 100vh;
  width   : 100%;

  & > form {
    display        : table-cell;
    text-align     : center;
    vertical-align : middle;
    .btn-block {
      margin : 25px 0;
    }
  }
}

